html {
  .topnav {
    background-color: #B49FCC;
    overflow: hidden;
    font-family: "Chivo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: right;
  }

  .topnavtext {
    display: inline-block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 100px;
  } 

  .topnav a {
    float: left;
    color: #080c06;
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
    padding: 14px 16px 14px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #EAD7D7;
    color: #474973;
    font-weight: bolder;
  }

  .topnav a.active {
    background-color: #161B33;
    color: rgb(219, 237, 175);
  }

  .topnav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #6B5B95;

    position: relative;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
  }

  .topnav a:hover::before {
    width: 100%;
  }

  body {
    background-color: #EAD7D7;
  }

  .content {
    margin: 75px 25px 100px 200px;
  }

  h1 {
    color: #595a7b;
    font-family: "Chivo", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  h2 {
    color: #6D466B;
    font-family: "Chivo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  h3 {
    color: rgb(69, 69, 187);
    font-family: "Chivo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  p {
    color: black;
    font-family: "Antic", serif;
    font-weight: 400;
    font-style: normal;
  }

  img {
    width: 500px;
  }

  li {
    color: black;
    font-family: "Antic", serif;
    font-weight: 400;
    font-style: normal;
  }
}